body {
  width: 95vw;
  height: 100vh;
  margin: 0 auto;
}
.title {
  text-align: center;
  margin-bottom: 20px;
}

.container_visual {
  display: flex;
  align-items: center;
  justify-content: center;
}

.visual_tank {
  width: 200px;
  height: 300px;
  position: relative;
  background-color: #ccc;
  margin-right: 20px;
}

.visual_water {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: blue;
  transition: height 0.5s;
}

.visual_rule {
  display: flex;
  flex-direction: column;
  height: 300px;
  margin-left: 20px;
  font-size: 0.8em;
  position: relative;
}

.visual_mark {
  position: absolute;
  right: 0;
  top: calc((100% / 100) * var(--index));
  transform: translateY(-50%);
  width: 30px;
  text-align: center;
}
.description {
  margin-bottom: 40px;
}
.section_history {
  width: 425px;
  margin: 20px auto 0;
}
.container_history {
  height: 500px;
  overflow: auto;
}
.section_history h3 {
  text-align: center;
}
